{% load blog_tags %}
{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Блог</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="content">
        <h1><a href="{% url 'blog:post_list' %}">Мой Блог</a></h1>
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Мой блог</h2>
        <p>Это мой блог. Количество постов - {% posts_count %}</p>
        <hr>
        <br>
        <form action="{% url 'blog:post_search' %}" method="GET" value="{{ request.GET.q }}">
            <input type="search" name="search" value="{{ request.GET.search }}" placeholder="Поиск" aria-label="Поиск" required>
            <button type="submit" value="Search" style="margin-left: 20px">Поиск</button>
        </form>
        <br>
        <hr>
        <h3>Последние посты</h3>
        {% latest_posts 3 %}
        <h3>Наиболее комментируемые посты</h3>
        {% commented_posts %}
    </div>
</body>
</html>