{% extends 'blog/base.html' %}
{% block title %}Резюме{% endblock %}
{% block content %}
<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <h2>Габдурашитов Тимур</h2>
                <div class="clr"></div>
                <p><strong>20 лет. Дата рождения: 4/21/2001</strong></p>
                <p>
                    Проживание: Город Ташкент<br>
                    Гражданство: Узбекистан
                </p>
            </div>
            <div class="article">
                <h2><span>Образование</span></h2>
                <div class="clr"></div>
                <p><strong>Сергелийский Политехнический Профессиональный Колледж</strong></p>
                <p>
                    Начало обучения: 9/4/2017 | Конец обучения: 6/25/2020<br>
                    Факультет: Бухгалтерский учёт и аудит<br>
                    Специальность: Бухгалтер
                </p>
            </div>
            <div class="article">
                <h2><span>Навыки</span></h2>
                <div class="clr"></div>
                <p><strong>Знания Языков</strong></p>
                <p>
                    Русский язык: Родной<br>
                    Английский язык: Чтение технической документации<br>
                    Корейский язык: Начальный уровень
                </p>
                <p><strong>Навыки Программирования</strong></p>
                <p>
                    Python 3 & Django 3: Начальный уровень (Наличие учебных проектов - Блог)<br>
                    HTML5 & CSS3: Продвинутый начальный уровень (Есть несколько готовых учебных проектов)<br>
                    PHP & Laravel: Начальный уровень (Наличие учебных проектов)
                </p>
                <p><strong>Технические Навыки</strong></p>
                <p>
                    ОС Windows/Windows Server 2019 & Ubuntu/Ubuntu Server<br>
                    Опыт работы с SSH<br>
                    Выгрузка сайта на хостинг и подключение домена<br>
                    Установка SSL сертификатов<br>
                </p>
            </div>
        </div>
{% endblock %}
