{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
    {% if request.GET.search %}
        Поиск: {{ request.GET.search }}
    {% endif %}
    Главная
{% endblock %}
{% block content %}
    <div class="content">
    <div class="content_resize">
      <div class="mainbar">
          {% for post in posts %}
            <div class="article">
              <h2><span><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span></h2>
                <p>Posted by <b>{{ post.author }}</b> &nbsp;|&nbsp; Категория <a href="{% url 'blog:post_by_category' post.category.category_slug %}">{{ post.category.name }}</a><a href="#" class="com">Комментариев {{ post.num_comments }}</a></p>
              <img src="{{ post.image.url }}" width="605" height="250" alt="" />
              <p>{{ post.content|truncatewords:30|striptags|safe|linebreaks }}</p>
              <p class="spec"><a href="{{ post.get_absolute_url }}" class="rm">Читать &raquo;</a></p>
            </div>
          {% endfor %}
      {% include 'blog/pagination.html' with page=posts %}
      </div>
{% endblock %}

{#{% if request.GET.search %}#}
{#        Поиск по запросу: {{ request.GET.search }}#}
{#    {% endif %}#}
{#    {% if posts %}#}
{#        {% for post in posts %}#}
{#            <h2>#}
{#                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
{#            </h2>#}
{#            <p class="date">#}
{#                Опубликован {{ post.publish }} пользователем {{ post.author }}#}
{#            </p>#}
{#            <p><img src="{{ post.image.url }}" width="800" height="400"></p>#}
{#            {{ post.content|truncatewords:30|striptags|safe|linebreaks }}#}
{#            <p class="tags">#}
{#                Категория: <a href="{% url 'blog:post_by_category' post.category.category_slug %}">{{ post.category.name }}</a>#}
{#            </p>#}
{#            <p class="tags">#}
{#                Теги:#}
{#                {% for tag in post.tags.all %}#}
{#                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">#}
{#                        {{ tag.name }}#}
{#                    </a>#}
{#                    {% if not forloop.last %}, {% endif %}#}
{#                {% endfor %}#}
{#            </p>#}
{#            <hr>#}
{#        {% empty %}#}
{#            <h1>Постов пока что нет, но они скоро будут :)</h1>#}
{#        {% endfor %}#}
{#            {% include 'blog/pagination.html' with page=posts %}#}
{#    {% else %}#}
{#        <h2>По запросу "{{ request.GET.search }}" ничего не найдено :(</h2>#}
{#    {% endif %}#}